@import "../../../../styles/variables";

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 0 5%;
    background: $color-primary;

    &-logo {
        position: absolute;
        min-width: 160px;
        top: 100px;
        left: 10%;

        img {
            display: block;
            width: 160px;
            object-fit: contain;
        }
    }

    &__title {
        font-size: 44px;
        text-align: left;
        color: $color-primary;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        color: $text-color-secondary;
    }

    &-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 50px;
        width: 100%;
        max-width: 75%;

        &-control {
            width: 100%;
            flex: 0 0 100%;

            label {
                display: block;
                font-size: 14px;
                margin-bottom: 16px;
            }

            .mat-radio-button {
                margin-right: 16px;
            }
        }

        button {
            width: 100%;
        }
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 0 0 100%;
}

.sign-in {
    .ai-title {
        color: $color-primary;
        margin-bottom: 50px;
        font-size: 44px;
    }

    a {
        font-size: 14px;
        font-weight: 400;
        color: $text-color-secondary;
        display: inline-block;
        margin-top: 16px;
    }

    .wrapper {
        display: flex;
        flex-flow: row;

        .col {
            min-height: 100vh;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;

            &.w55 {
                background: #b1ddf8;

                &.is-admin {
                    background: #2051e9;

                    .ai-title {
                        color: #fff;
                    }
                }

                flex: 0 0 55%;
                width: 55%;

                img {
                    width: 720px;
                    max-width: 90%;
                }
            }

            &.w45 {
                align-items: flex-start;
                flex: 0 0 45%;
                width: 45%;
                padding: 100px 5%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .sign-in {
        .ai-title {
            font-size: 36px;
        }
        .wrapper {
            flex-wrap: wrap;

            .col {
                min-height: inherit;
                &.w45,
                &.w55 {
                    flex: 0 0 100%;
                    width: 100%;
                    padding: 50px 5%;
                }

                &.w55 {
                    img {
                        width: 420px;
                    }
                }
            }
        }
    }

    .login {
        &-logo {
            position: relative;
            top: inherit;
            left: inherit;
            margin: 0 auto 50px;
        }

        &__title,
        &__description {
            text-align: center;
            display: block;
            width: 100%;
        }

        &__title {
            font-size: 36px;
        }

        &-form {
            max-width: 100%;
        }
    }
}
