<section class="page">
    <div class="container">
        <div class="page-wrapper">
            <div class="page-header">
                <h1 class="page-title">
                    Editar usuário imobiliária
                </h1>
                <div class="page-header__buttons">
                    <mat-slide-toggle (change)="onSituacaoChange($event)"
                        [checked]="data.situacao == 'A' ? true : false">
                        Situação:
                        {{data.situacao == 'A' ? 'Ativo' : 'Inativo'}}</mat-slide-toggle>
                    <button mat-stroked-button color="primary" routerLink="/admin/usuarios-imobiliaria">
                        VOLTAR
                    </button>
                    <button mat-raised-button color="primary" (click)="openPasswordDialog()">
                        ALTERAR SENHA
                    </button>
                </div>
            </div>
            <form class="page-form" (ngSubmit)="submit(form)" #form="ngForm">

                <h3 class="page-form__title">
                    Dados do usuário
                </h3>

                <mat-form-field class="page-form-control two-third">
                    <input matInput type="text" placeholder="Nome" [(ngModel)]="data.nome" name="nome" required>
                </mat-form-field>

                <mat-form-field class="page-form-control third">
                    <mat-label>Tipo</mat-label>
                    <mat-select name="tipo" [(ngModel)]="data.tipo" required>
                        <mat-option value="A">Admin</mat-option>
                        <mat-option value="C">Corretor</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="page-form-control third">
                    <input matInput type="email" [pattern]="helper.emailRegex" placeholder="E-mail"
                        [(ngModel)]="data.email" name="email" required>
                </mat-form-field>

                <mat-form-field class="page-form-control third">
                    <input matInput type="tel" placeholder="Whatsapp" [(ngModel)]="data.whatsapp" name="whatsapp"
                        (ngModelChange)="changePhoneMask($event)" [mask]="phoneMask" required>
                </mat-form-field>

                <mat-form-field class="page-form-control has-suffix third">
                    <mat-label>
                        Imobiliária
                    </mat-label>
                    <mat-select name="imobiliaria" [(ngModel)]="data.imobiliaria"
                        [compareWith]="imobiliariaService.compareFn" (openedChange)="onImobiliariaOpen($event)"
                        required>
                        <mat-option>
                            <ngx-mat-select-search [(ngModel)]="searchImobiliarias" name="searchImobiliarias"
                                placeholderLabel="Pesquise aqui" noEntriesFoundLabel="Nenhum registro encontrado">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngIf="loadingImobiliarias">
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        </mat-option>
                        <ng-container>
                            <mat-option *ngFor="let im of imobiliarias | filter:searchImobiliarias:'nome'" [value]="im">
                                {{im.nome}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <a mat-icon-button matTooltip="Adicionar imobiliária" routerLink="/admin/imobiliarias/adicionar"
                        class="suffix-button" target="_blank">
                        <mat-icon color="accent">add_circle</mat-icon>
                    </a>
                </mat-form-field>

                <mat-form-field class="page-form-control">
                    <input matInput [type]="showPassword ? 'text' : 'password'" placeholder="Senha"
                        [(ngModel)]="data.senha" name="senha" required>
                    <button mat-icon-button mat-button (click)="showPassword = !showPassword" matSuffix type="button">
                        <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                </mat-form-field>

                <hr>

                <button mat-raised-button color="primary" type="submit" [disabled]="loadingService.active">
                    SALVAR
                </button>

            </form>
        </div>
    </div>
</section>