@import "../../../../styles/variables";

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    max-width: 1024px;
    gap: 1%;
}

.icon-prefix {
    margin-right: 16px;
    font-size: 24px;
    color: $color-secondary;
}

.dropzone {
    margin: 20px 0;
    max-width: 1024px;
}

.map-control {
    flex: 0 0 100%;
    width: 500px;
    position: relative;
    display: block;
}
