@import "../../../../styles/variables";

.header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-size: 18px;
        color: $color-primary;
    }

    .points {
        display: flex;
        align-items: center;
        color: $text-color-secondary;
        justify-content: flex-end;

        .fas {
            margin-right: 8px;
            font-size: 14px;
            color: gold;
        }

        span {
            font-size: 18px;
        }
    }
}

.item {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    & + .item {
        border-top: 1px solid #e1e1e1;
    }

    input {
        height: 44px;
        width: 90px;
        border: 1px solid $text-color-secondary;
        border-radius: 4px;
        outline: 0;
        padding: 0 16px;
        font-size: 14px;

        &:focus {
            border-color: $color-primary;
        }

        &.ng-invalid.ng-touched {
            border-color: $danger;
        }
    }

    .mat-form-field {
        margin-left: 24px;

        &.no-margin {
            .mat-form-field-underline {
                bottom: 0;
            }
            .mat-form-field-wrapper {
                padding-bottom: 0;
            }
        }
    }
}
