@import "../../../../styles/variables";

.seemore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
}

.immobile {
    &-list {
        display: flex;
        flex-direction: row;
        gap: 16px;
        flex-wrap: wrap;

        &__notfound {
            font-size: 24px;
            padding: 32px;
            text-align: center;
        }
    }
    &-item {
        background: #333;
        flex: 0 0 calc(25% - 12px);
        width: calc(25% - 12px);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 280px;
        overflow: hidden;

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $color-primary;
            background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0), $color-primary);
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $color-primary);
            pointer-events: none;
        }

        &__content {
            padding: 16px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            position: relative;
            z-index: 2;

            .address {
                font-size: 14px;
                color: #ffffff;
                text-align: left;
                line-height: 1.5;
                margin-bottom: 8px;
            }

            .price {
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;

                strong {
                    font-size: 24px;
                    font-weight: 700;
                    color: #ffffff;
                }

                small {
                    font-size: 16px;
                    color: #ffffff;
                }
            }

            .info {
                width: 100%;
                display: flex;
                flex-flow: row;
                align-items: center;
                margin-top: 8px;

                &--stats {
                    position: absolute;
                    top: 16px;
                    left: 16px;
                }

                &-item {
                    display: flex;
                    flex-flow: row;
                    align-items: center;

                    &__icon {
                        width: 18px;
                        height: 18px;
                        object-fit: contain;
                        display: block;
                    }

                    .fas {
                        color: #ffffff;
                        font-size: 16px;
                    }

                    &__label {
                        font-size: 16px;
                        color: #ffffff;
                        margin-left: 8px;
                    }

                    & + .info-item {
                        margin-left: 24px;
                    }
                }
            }
        }
    }
}

.stats {
    display: flex;
    flex-flow: row;
    gap: 24px;
    background: #ffffff;
    margin-bottom: 40px;

    &-item {
        padding: 24px 32px;
        border-bottom: 4px solid $color-primary;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        flex: 1;

        &__label {
            font-size: 24px;
            font-weight: 400;
            display: flex;
            flex-flow: row;
            align-items: center;

            .fas {
                margin-right: 16px;
                color: $color-secondary;
                font-size: 18px;
            }

            span {
                font-size: 18px;
            }
        }

        hr {
            display: block;
            width: 60px;
            height: 3px;
            background: $text-color-secondary;
            margin: 30px 0;
        }

        &__number {
            font-size: 44px;
            font-weight: 700;
            line-height: 1;
        }
    }
}
