@import "../../../../styles/variables";

.share {
  &-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
  }
  &-item {
    flex: 0 0 calc(50% - 4px);
    width: calc(50% - 4px);
    border-radius: 8px;
    border: 1px solid $color-primary;
    height: 60px;
    padding: 0 20px;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: $color-primary;

    .fas,
    .far,
    .fab {
      margin-right: 0.5rem;
    }

    span {
      font-weight: 600;
    }

    &:hover {
      text-decoration: none;
      background-color: $color-primary;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 768px) {
  .share {
    &-item {
      flex: 0 0 100%;
      width: 100%;
    }
  }
}
