<section class="page">
    <div class="container">
        <div class="page-wrapper">
            <div class="page-header">
                <h1 class="page-title">
                    Adicionar tipo de empreendimento
                </h1>
                <div class="page-header__buttons">
                    <mat-slide-toggle (change)="onSituacaoChange($event)"
                        [checked]="data.situacao == 'A' ? true : false">
                        Situação:
                        {{data.situacao == 'A' ? 'Ativo' : 'Inativo'}}
                    </mat-slide-toggle>
                    <button mat-stroked-button color="primary" routerLink="/admin/tipos-empreendimento">
                        VOLTAR
                    </button>
                </div>
            </div>
            <form class="page-form" (ngSubmit)="submit(form)" #form="ngForm">

                <h3 class="page-form__title">
                    Dados do tipo de empreendimento
                </h3>

                <mat-form-field class="page-form-control">
                    <input matInput type="text" placeholder="Nome" [(ngModel)]="data.nome" name="nome" required>
                </mat-form-field>

                <h3 class="page-form__title">
                    Ícone (256x256)
                </h3>

                <div class="upload-section">
                    <div class="upload-section__image">
                        <img [src]="data.icone ? global.imageUrl+data.icone : 'assets/image-placeholder.png'"
                            alt="Upload">
                    </div>
                    <button mat-stroked-button color="primary" type="button" (click)="openUploadDialog()">
                        Fazer upload
                    </button>
                </div>

                <hr>

                <button mat-raised-button color="primary" type="submit" [disabled]="loadingService.active">
                    SALVAR
                </button>

            </form>
        </div>
    </div>
</section>