<section class="page">
    <div class="page-wrapper">
        <div class="page-header">
            <h1 class="page-title">
                Subtipos de Empreendimento
            </h1>
            <div class="page-header__buttons">
                <button mat-stroked-button color="warn" [disabled]="!selection.selected.length" (click)="deletarDatas()"
                    type="button">
                    DELETAR ITENS
                </button>
                <a mat-raised-button color="primary" (click)="openSubtipoDialog()" type="button">
                    ADICIONAR
                </a>
            </div>
        </div>

        <div class="page-table">

            <div class="page-table-container">
                <div class="loading-shade" *ngIf="!isLoadingResults && !data.length">
                    <div class="rate-limit-reached">
                        Nenhum registro encontrado
                    </div>
                </div>

                <div class="loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner></mat-spinner>
                </div>

                <table mat-table [dataSource]="data" matSort matSortActive="0" matSortDirection="asc">

                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Nome
                        </th>
                        <td mat-cell *matCellDef="let row">{{row.nome}}</td>
                    </ng-container>

                    <ng-container matColumnDef="2">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Situação</th>
                        <td mat-cell *matCellDef="let row">{{row.situacao == 'A' ? 'Ativo' : 'Inativo'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <a mat-icon-button mat-button matTooltip="Editar" aria-label="Editar" color="primary"
                                (click)="openSubtipoDialog(row)" type="button">
                                <mat-icon>create</mat-icon>
                            </a>
                            <button mat-icon-button mat-button matTooltip="Excluir" aria-label="Excluir" color="warn"
                                (click)="deletarData(row)" type="button">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="resultsLength" [pageSizeOptions]="[15, 25, 40, 50]" [pageSize]="15">
                </mat-paginator>
            </div>
        </div>
    </div>
</section>