<section class="page">
  <div class="page-wrapper">
    <div class="page-header">
      <h1 class="page-title">Interesses</h1>
    </div>

    <div class="page-table">
      <div class="page-table-container">
        <div class="loading-shade" *ngIf="!isLoadingResults && !data.length">
          <div class="rate-limit-reached">Nenhum registro encontrado</div>
        </div>

        <div class="loading-shade" *ngIf="isLoadingResults">
          <mat-spinner></mat-spinner>
        </div>

        <table mat-table [dataSource]="data">
          <ng-container matColumnDef="imagem">
            <th mat-header-cell *matHeaderCellDef>Imagem</th>
            <td mat-cell *matCellDef="let row">
              <img
                [src]="global.imageUrl + row.empreendimento._imagemPrincipal"
                *ngIf="row.empreendimento._imagemPrincipal"
                alt="imagemPrincipal"
                class="page-table-image"
              />
              <img
                src="assets/image-placeholder.png"
                *ngIf="!row.empreendimento._imagemPrincipal"
                alt="imagemPrincipal"
                class="page-table-image"
              />
            </td>
          </ng-container>

          <ng-container matColumnDef="1">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let row">
              {{ row.empreendimento.nome }}
            </td>
          </ng-container>

          <ng-container matColumnDef="2">
            <th mat-header-cell *matHeaderCellDef>Endereço</th>
            <td mat-cell *matCellDef="let row">
              {{ row.empreendimento.endereco }},
              {{ row.empreendimento.numeroEndereco }}
              {{
                row.empreendimento.complemento
                  ? " - " + row.empreendimento.complemento
                  : ""
              }}
              - {{ row.empreendimento.bairro }},
              {{ row.empreendimento.cidade }} - {{ row.empreendimento.uf }},
              {{ row.empreendimento.cep | mask: "00000-000" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="3">
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let row">
              {{ row.empreendimento.valor | currency: "BRL" }}
              {{ row.empreendimento.tipoOferta === "L" ? " /mensal" : "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="4">
            <th mat-header-cell *matHeaderCellDef>Imobiliária</th>
            <td mat-cell *matCellDef="let row">
              {{ row.empreendimento.imobiliaria?.nome }}
            </td>
          </ng-container>

          <ng-container matColumnDef="5">
            <th mat-header-cell *matHeaderCellDef>Tipo Empreendimento</th>
            <td mat-cell *matCellDef="let row">
              {{ row.empreendimento.tipoEmpreendimento?.nome }}
            </td>
          </ng-container>

          <ng-container matColumnDef="6">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let row">
              {{ global.getEmpreendimentoStatusLabel(row.status) }}
            </td>
          </ng-container>

          <ng-container matColumnDef="7">
            <th mat-header-cell *matHeaderCellDef>Tipo da oferta</th>
            <td mat-cell *matCellDef="let row">
              {{
                global.getEmpreendimentoTipoOfertaLabel(
                  row.empreendimento.tipoOferta
                )
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="8">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let row">
              {{ row.tipo === "APARICOES" ? "Aparições" : "" }}
              {{ row.tipo === "CLICKS" ? "Clicks" : "" }}
              {{ row.tipo === "CONTATOS" ? "Contatos" : "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="9">
            <th mat-header-cell *matHeaderCellDef>Data hora</th>
            <td mat-cell *matCellDef="let row">
              {{
                helper
                  .moment(row.empreendimento.dataHora)
                  .format("DD/MM/YYYY HH:mm")
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <!-- <a mat-icon-button mat-button matTooltip="Editar" aria-label="Editar" color="primary"
                                    [routerLink]="['/admin/planos/editar', row.id]">
                                    <mat-icon>create</mat-icon>
                                </a> -->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [length]="resultsLength"
          [pageSizeOptions]="[15, 25, 40, 50]"
          [pageSize]="15"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</section>
