<section class="page">
  <div class="container">
    <div class="page-wrapper">
      <div class="page-header">
        <h1 class="page-title">Adicionar usuário imobiliária</h1>
        <div class="page-header__buttons">
          <mat-slide-toggle
            (change)="onSituacaoChange($event)"
            [checked]="data.situacao == 'A' ? true : false"
          >
            Situação:
            {{ data.situacao == "A" ? "Ativo" : "Inativo" }}</mat-slide-toggle
          >
          <button
            mat-stroked-button
            color="primary"
            routerLink="/imobiliaria/usuarios"
          >
            VOLTAR
          </button>
        </div>
      </div>
      <form class="page-form" (ngSubmit)="submit(form)" #form="ngForm">
        <h3 class="page-form__title">Dados do usuário</h3>

        <mat-form-field class="page-form-control">
          <input
            matInput
            type="text"
            placeholder="Nome"
            [(ngModel)]="data.nome"
            name="nome"
            required
          />
        </mat-form-field>

        <mat-form-field class="page-form-control">
          <input
            matInput
            type="email"
            [pattern]="helper.emailRegex"
            placeholder="E-mail"
            [(ngModel)]="data.email"
            name="email"
            required
          />
        </mat-form-field>

        <mat-form-field class="page-form-control half">
          <input
            matInput
            type="password"
            placeholder="Senha"
            [(ngModel)]="data.senha"
            name="senha"
            required
          />
        </mat-form-field>

        <mat-form-field class="page-form-control half">
          <input
            matInput
            type="password"
            placeholder="Confirmar senha"
            [(ngModel)]="data.re_senha"
            name="re_senha"
            required
          />
        </mat-form-field>

        <hr />

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loadingService.active"
        >
          SALVAR
        </button>
      </form>
    </div>
  </div>
</section>
