<section class="page">
    <div class="container">
        <div class="page-wrapper">
            <div class="page-header">
                <h1 class="page-title">
                    Consultar usuário app
                </h1>
                <div class="page-header__buttons">
                    <mat-slide-toggle (change)="onSituacaoChange($event)"
                        [checked]="data.situacao == 'A' ? true : false" disabled>
                        Situação:
                        {{data.situacao == 'A' ? 'Ativo' : 'Inativo'}}</mat-slide-toggle>
                    <button mat-stroked-button color="primary" routerLink="/admin/usuarios-app">
                        VOLTAR
                    </button>
                </div>
            </div>
            <form class="page-form">

                <h3 class="page-form__title">
                    Dados do usuário
                </h3>

                <mat-form-field class="page-form-control">
                    <input matInput type="email" [pattern]="helper.emailRegex" placeholder="E-mail"
                        [(ngModel)]="data.email" name="email" readonly required>
                </mat-form-field>

                <mat-form-field class="page-form-control">
                    <input matInput type="text" placeholder="Nome" [(ngModel)]="data.nome" name="nome" readonly
                        required>
                </mat-form-field>

                <div class="page-form-control">
                    <app-estatisticas-usuario [idUsuarioApp]="data.id" *ngIf="!!data.id"></app-estatisticas-usuario>
                </div>

            </form>
        </div>
    </div>
</section>