<section class="page">
    <div class="container">
        <div class="page-wrapper">
            <div class="page-header">
                <h1 class="page-title">
                    Imobiliárias
                </h1>
                <div class="page-header__buttons">
                    <button mat-stroked-button color="warn" [disabled]="!selection.selected.length"
                        (click)="deletarDatas()">
                        DELETAR ITENS
                    </button>
                    <a mat-raised-button color="primary" routerLink="/admin/imobiliarias/adicionar">
                        ADICIONAR
                    </a>
                </div>
            </div>

            <div class="page-filter">
                <mat-form-field appearance="fill">
                    <mat-label>Situação</mat-label>
                    <mat-select name="situacao" [(ngModel)]="situacao" (ngModelChange)="onSituacaoChange($event)">
                        <mat-option>Selecionar</mat-option>
                        <mat-option value="A">Ativo</mat-option>
                        <mat-option value="I">Inativo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="page-table">

                <mat-form-field class="page-table__search">
                    <input matInput [(ngModel)]="search" (ngModelChange)="filter($event)" placeholder="Pesquise aqui">
                    <button mat-button *ngIf="search" matSuffix mat-icon-button aria-label="Limpar"
                        (click)="clearFilter()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <div class="page-table-container">
                    <div class="loading-shade" *ngIf="!isLoadingResults && !data.length">
                        <div class="rate-limit-reached">
                            Nenhum registro encontrado
                        </div>
                    </div>

                    <div class="loading-shade" *ngIf="isLoadingResults">
                        <mat-spinner></mat-spinner>
                    </div>

                    <table mat-table [dataSource]="data" matSort matSortActive="0" matSortDirection="asc">

                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="imagem">
                            <th mat-header-cell *matHeaderCellDef>
                                Imagem
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <img [src]="global.imageUrl+row.imagem" *ngIf="row.imagem" alt="imagem"
                                    class="page-table-image">
                                <img src="assets/image-placeholder.png" *ngIf="!row.imagem" alt="imagem"
                                    class="page-table-image">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="1">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Nome
                            </th>
                            <td mat-cell *matCellDef="let row">{{row.nome}}</td>
                        </ng-container>

                        <ng-container matColumnDef="2">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                E-mail
                            </th>
                            <td mat-cell *matCellDef="let row">{{row.email}}</td>
                        </ng-container>

                        <ng-container matColumnDef="3">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                Telefone
                            </th>
                            <td mat-cell *matCellDef="let row">{{row.telefone | mask: '(00) 0000-00009'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="4">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                CNPJ
                            </th>
                            <td mat-cell *matCellDef="let row">{{row.cnpj | mask: '00.000.000/0000-00'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="5">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Endereço</th>
                            <td mat-cell *matCellDef="let row">
                                {{row.cep | mask: '00000-000'}} - {{row.bairro}} - {{row.endereco}},
                                {{row.enderecoNumero}} {{row.complemento}} - {{row.cidade}} - {{row.uf}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="6">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Situação</th>
                            <td mat-cell *matCellDef="let row">{{row.situacao == 'A' ? 'Ativo' : 'Inativo'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row">
                                <a mat-icon-button mat-button matTooltip="Editar" aria-label="Editar" color="primary"
                                    [routerLink]="['/admin/imobiliarias/editar', row.id]">
                                    <mat-icon>create</mat-icon>
                                </a>
                                <button mat-icon-button mat-button matTooltip="Excluir" aria-label="Excluir"
                                    color="warn" (click)="deletarData(row)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[15, 25, 40, 50]" [pageSize]="15">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</section>