<section class="page">
  <div class="container">
    <div class="stats">
      <div class="stats-item">
        <h3 class="stats-item__label">
          <i class="fas fa-users"></i>
          <span>Usuários</span>
        </h3>
        <hr />
        <h2 class="stats-item__number">
          {{ homeStats?.usuariosApp?.toLocaleString() }}
        </h2>
      </div>
      <div class="stats-item">
        <h3 class="stats-item__label">
          <i class="fas fa-user-check"></i>
          <span>Dispositivos ativos</span>
        </h3>
        <hr />
        <h2 class="stats-item__number stats-item__number--success">
          {{ homeStats?.activeUsers?.toLocaleString() }}
        </h2>
      </div>
      <div class="stats-item">
        <h3 class="stats-item__label">
          <i class="fas fa-user-slash"></i>
          <span>Dispositivos inativos</span>
        </h3>
        <hr />
        <h2 class="stats-item__number stats-item__number--danger">
          {{ homeStats?.inactiveUsers?.toLocaleString() }}
        </h2>
      </div>
      <div class="stats-item">
        <h3 class="stats-item__label">
          <i class="fas fa-store-alt"></i>
          <span>Imobiliárias</span>
        </h3>
        <hr />
        <h2 class="stats-item__number">
          {{ homeStats?.imobiliarias?.toLocaleString() }}
        </h2>
      </div>
      <div class="stats-item">
        <h3 class="stats-item__label">
          <i class="fas fa-user-tie"></i>
          <span>Corretores</span>
        </h3>
        <hr />
        <h2 class="stats-item__number">
          {{ homeStats?.corretores?.toLocaleString() }}
        </h2>
      </div>
      <div class="stats-item">
        <h3 class="stats-item__label">
          <i class="fas fa-building"></i>
          <span>Empreendimentos</span>
        </h3>
        <hr />
        <h2 class="stats-item__number">
          {{ homeStats?.empreendimentos?.toLocaleString() }}
        </h2>
      </div>
    </div>
    <div class="page-filters">
      <mat-form-field appearance="fill">
        <mat-label>Filtra por</mat-label>
        <mat-select name="tipoData" [(ngModel)]="tipoData" (ngModelChange)="onTipoDataChange($event)">
          <mat-option value="D">Dia</mat-option>
          <mat-option value="M">Mês</mat-option>
          <mat-option value="A">Ano</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Escolha um intervalo de datas</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Data inicial" [(ngModel)]="dataInicial" name="dataInicial" />
          <input matEndDate placeholder="Data final" [(ngModel)]="dataFinal" name="dataFinal"
            (ngModelChange)="onDataFinalChange($event)" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="graph-container">
      <!-- <div class="graph-item">
        <canvas id="viewsChart"></canvas>
      </div> -->
      <div class="graph-item">
        <canvas id="clicksChart"></canvas>
      </div>
      <div class="graph-item">
        <canvas id="leadsChart"></canvas>
      </div>
      <div class="graph-item">
        <canvas id="appAccessChart"></canvas>
      </div>
    </div>
    <div class="page-filter">
      <mat-form-field appearance="fill">
        <mat-label>Local</mat-label>
        <mat-select name="tipoLocalizacao" [(ngModel)]="tipoLocalizacao"
          (ngModelChange)="onTipoLocalizacaoChange($event)">
          <mat-option value="P">País</mat-option>
          <mat-option value="E">Estado</mat-option>
          <mat-option value="C">Cidade</mat-option>
          <mat-option value="B">Bairro</mat-option>
          <mat-option value="R">Endereço</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="graph-container">
      <div class="graph-item w50">
        <canvas id="locationChart"></canvas>
      </div>
    </div>
  </div>
</section>
