@import "../../../../styles/variables";

.home-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .home-box {
        margin-bottom: 16px;
    }
}

.graph-container {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    .graph-item {
        flex: 0 0 49%;
        width: 49%;
        background: #fff;
        padding: 24px;
        border-radius: 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        min-height: 190px;
        margin-bottom: 50px;

        &.w50 {
            flex: 0 0 49%;
            width: 49%;
        }
    }
}

.pages {
    max-width: 30%;
    &-item {
        a {
            display: flex;
            flex-flow: row;
            align-items: center;

            .fas {
                margin-right: 8px;
                color: $color-primary;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.stats {
    display: flex;
    flex-flow: row;
    gap: 24px;
    background: #ffffff;
    margin-bottom: 40px;

    &-item {
        padding: 24px 32px;
        border-bottom: 4px solid $color-primary;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        flex: 1;

        &__label {
            font-size: 24px;
            font-weight: 400;
            display: flex;
            flex-flow: row;
            align-items: center;

            .fas {
                margin-right: 16px;
                color: $color-secondary;
                font-size: 18px;
            }

            span {
                font-size: 18px;
            }
        }

        hr {
            display: block;
            width: 60px;
            height: 3px;
            background: $text-color-secondary;
            margin: 30px 0;
        }

        &__number {
            font-size: 44px;
            font-weight: 700;
            line-height: 1;

            &--danger {
                color: $danger;
            }

            &--success {
                color: $success;
            }
        }
    }
}
