@import "../../../../styles/variables";

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 24px 0;
    gap: 1%;
}

.icon-prefix {
    margin-right: 16px;
    font-size: 24px;
    color: $color-secondary;
}

.dropzone {
    flex: 0 0 100%;
    width: 100%;

    &-images {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 16px;
        width: 100%;
        min-height: 128px;
        background: white;
        border-radius: 12px;
        overflow: hidden;
        margin-top: 24px;

        &.cdk-drop-list-dragging .dropzone-images__item:not(.cdk-drag-placeholder) {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }

        .buttons {
            display: flex;
            align-items: center;
            flex-flow: row;
            margin-right: 16px;
        }

        .position {
            z-index: 2;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: $color-primary;
            color: #f7f7f7;
            font-size: 12px;
            text-align: center;
            line-height: 36px;
            font-weight: 700;
            display: block;
        }

        &__item {
            min-height: 60px;
            width: 100%;
            border-radius: 0;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
            cursor: move;
            padding: 8px 16px;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;

            &:nth-child(even) {
                background-color: #f7f7f7;
            }

            .col {
                min-width: 44px;

                &-grow {
                    flex-grow: 1;
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: flex-start;
                }
            }

            img {
                height: 72px;
                width: 72px;
                border-radius: 6px;
                display: inline-block;
                object-fit: cover;
                margin-right: 12px;
            }
        }

        &__fab {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: #f7f7f7;

            .fas,
            .far {
                color: $danger;
            }

            &:hover {
                background: #ddd;
            }

            & + .dropzone-images__fab {
                margin-left: 8px;
            }
        }
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.map-control {
    width: 500px;
    height: 500px;
    position: relative;
}

.description {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 16px;
    flex-flow: 0 0 100%;
    width: 100%;

    .fas {
        margin-right: 8px;
        color: $color-secondary;
    }
}

.stats {
    display: flex;
    flex-flow: row;
    gap: 24px;
    background: #ffffff;
    margin-bottom: 40px;

    &-item {
        padding: 24px 32px;
        border-bottom: 4px solid $color-primary;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        flex: 1;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;

        &__label {
            font-size: 24px;
            font-weight: 400;
            display: flex;
            flex-flow: row;
            align-items: center;

            .fas {
                margin-right: 16px;
                color: $color-secondary;
                font-size: 18px;
            }

            span {
                font-size: 18px;
            }
        }

        &__number {
            font-size: 44px;
            font-weight: 700;
            line-height: 1;
        }
    }
}
