<h2 mat-dialog-title>Subtipo</h2>
<div mat-dialog-content>
    <mat-form-field class="page-form-control">
        <input matInput placeholder="Nome" [(ngModel)]="data.nome" name="nome" required>
    </mat-form-field>
    <mat-slide-toggle (change)="onSituacaoChange($event)" [checked]="data.situacao == 'A' ? true : false">
        Situação:
        {{data.situacao == 'A' ? 'Ativo' : 'Inativo'}}
    </mat-slide-toggle>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="close(false)">Cancelar</button>
    <button mat-button (click)="close(true)">Salvar</button>
</div>