@import "../../../../styles/variables";

header {
    background-color: hsl(228deg 41% 12%);
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    .logo {
        display: block;
        img {
            height: 32px;
        }
    }
}

.btn-store {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: #111;
    color: #fff;

    .fab {
        margin-right: 16px;
    }

    span {
        font-size: 15px;
        font-weight: 700;
    }

    &:hover {
        background: #333;
        text-decoration: none;
    }
}

.content {
    padding: 32px 0 100px;
    background-color: $color-primary;
    color: #ffffff;
    min-height: 100vh;

    p {
        color: #ffffff;
    }

    .buttons {
        text-align: center;
        .btn-store {
            display: inline-flex;
            margin: 0 12px;
        }
    }
}

.loading-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    z-index: 99;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }
}

.header {
    &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: clamp(1.25em, 2vw, 2em);
        gap: 50px;

        .title {
            font-size: clamp(1.5em, 2vw, 2em);
            margin-bottom: 4px;
        }
    }
}

.gallery {
    margin-bottom: 3.125rem;

    &-wrapper {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        border-radius: 24px;

        .col {
            flex: 1;

            & + .col {
                margin-left: 16px;
            }
        }
    }
    &-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }
    &-item {
        position: relative;
        flex: 0 0 calc(50% - 8px);
        width: calc(50% - 8px);
        padding-bottom: calc(50% - 8px);
        cursor: pointer;
        background-color: $color-primary;

        &--large {
            flex: 0 0 100%;
            width: 100%;
            padding-bottom: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after {
            content: "";
            background-color: rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            opacity: 0;
            z-index: 2;
            transition: all 300ms ease-in-out;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }
    }
}

.main {
    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .large-content {
            flex-grow: 1;
            margin-right: 32px;

            ul {
                margin-top: 2rem;
                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1.25em 0;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }
            }
        }

        .box {
            background-color: #ffffff;
            border-radius: 24px;
            box-shadow: 0 2px 4px rgba($color: $color-primary, $alpha: 0.2);
            padding: 24px 32px;
            min-width: 320px;
            position: sticky;
            top: 1rem;

            h2 {
                color: $color-primary;
                margin-bottom: 2rem;

                span {
                    display: block;
                    font-size: 0.75em;
                }
            }
        }
    }

    &-description {
        p {
            white-space: pre-line;
            line-height: 2;
        }
    }
}

.info {
    margin-bottom: 1rem;
    &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &-item {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 32px;
            height: 32px;
            display: block;
            object-fit: contain;
        }

        span {
            margin-left: 1rem;
            font-size: 1.125rem;
            font-weight: 700;
        }
    }
}

.float-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-secondary;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .content {
        .buttons {
            .btn-store {
                display: flex;
                margin: 0 auto 16px;
            }
        }
    }

    .main {
        .wrapper {
            flex-wrap: wrap;
            flex-direction: column-reverse;

            .large-content {
                margin-right: 0px;
            }

            .box {
                position: relative;
                margin-bottom: 50px;
                width: 100%;
            }
        }
    }
}
